body,html{
    margin: 0;
    padding: 0;
    background-color: grey;
    color: white;
}
header{
   text-align: center;
   font-size: 50px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 3%;
     
    
}
img{
    width: 100%;
    height:400px;
    display: flex;
    border-radius: 30px;
        
}
.gory{
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(46, 46, 46);
    border-radius: 30px;
}
p{
    padding: 10%;
}
footer{
    background-color: darkgray;
   
}